@font-face {
	font-family: Reckoner Bold;
	src: url('fonts/reckoner.bold.ttf') format("truetype");
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: #1E1E3A; /*#1F282D;*/
	font-family: Reckoner Bold;
}

img, canvas {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
	user-select: none;
	user-drag: none;
}

.menu_bg > img {
	width: 100%;
	z-index: -10;
	position: absolute;
}

.menu {
	padding-top: 23pt;
	text-align: center;
	font-size: 45pt;
}

#menu_title {
	color: white;
	font-size: 120pt;
}

canvas  {
	position: absolute;
	border: none;
	top: 0;
	left: 0;
	/*min-width: 640px;
	min-height: 360px;*/
}

#layer0 {
	z-index: -2;
}

#layer1 {
	z-index: -1;
}

.splash {
	position: fixed;
	display: none;
	width: 20vw;
	height: 15vw;
	border-radius: 5px;
	border: 3px #000 solid;
	background: white;
	top: 20vh;
	left: 38vw;
	opacity: 0;
	z-index: 5;
	padding: 20px 10px;
}

.splash_close {
	position: absolute;
	display: block;
	cursor: pointer;
	width: 21px;
	height: 21px;
	top: 10px;
	right: 10px;
}

#overlay {
	position: fixed;
	display: none;
	z-index: 3;
	background-color: black;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#progress_bar {
	z-index: -5;
}

/* #C0C0C0 - светло-серый*/