html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #21232a;
    color: white;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 75pt rgba(0, 0, 0, .8);
    box-shadow: inset 0 0 75pt rgba(0, 0, 0, .8);
    display: table;
    font-family: "Open Sans", Arial, sans-serif
}

h1 {
    font-size: 2em;
    margin: .67em 0
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: white;
    font-size: 36px
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
    text-decoration: none;
    color: #fff;
    font-size: inherit;
    border-bottom: dotted 1px #707070
}

a:active,
a:hover {
    outline-width: 0
    color: #zzz;
}

button,
input {
    overflow: visible
}